altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
filelock
fsspec
gitdb
GitPython
grpcio
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
Jinja2
joblib
jsonschema
jsonschema-specifications1
MarkupSafe
mpmath
narwhals
networkx
numpy
packaging
pandas
pillow
portalocker
protobuf
pyarrow
pydantic
pydantic_core
pydeck
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
qdrant-client
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
smmap
sniffio
soupsieve
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
